<!doctype html>
<html ng-app="OnionTip" lang="en"><head>
    <meta charset="utf-8">
    <!-- This sets the relative base_url for the app, which
         is necessary if its not running from the root.
         Flask replaces this %script_root% piece with the
         right path-->
    <base href="<!--%script_root%-->/">
    <title>OnionTip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Donate to Tor relay volunteers">
    <meta name="author" content="Donncha O'Cearbhaill">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/lib/select2/select2.css" rel="stylesheet">
    <link href="static/lib/angular-ui/angular-ui.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head><body>
    <div class="container" ng-controller="OnionTipCtrl">
      <h1 id="page-title" class="text-center">OnionTip</h1>
      <p class="lead text-center">Donate to volunteers who are running Tor relays which support a powerful tool that helps you stay anonymous online. You can also support the network by running a relay as part of <a href="https://www.eff.org/torchallenge/">EFF's Tor Challenge.</a></p>
      <div class="panel panel-default">
        <div class="panel-body"> 
          <form class="form-inline text-center" id="form">
            <fieldset>
              <label class="sr-only">Filters by: </label>
              <div class="form-group">
                <label class="sr-only" for="cc">Show relays only from selected countries</label>
                 <select style="width:210px" class="input-large" id="country" name="country" ng-model="query.country" ui-select2="" multiple="" data-placeholder="Only show relays from..">
                   <option ng-repeat="country in cc_data" value="{{country.id}}">{{country.text}}</option>
                </select>
              </div>
              <div id="flag-options" class="form-group">
                <label class="checkbox-inline"><input id="guards_only" value="True" name="guards_only" ng-model="query.guards_only" type="checkbox">Show Guards Only</label>
                <label class="checkbox-inline"><input id="exits_only" value="True" name="exits_only" ng-model="query.exits_only" type="checkbox">Show Exits Only</label>
              </div>
              <div class="form-group">
                <label class="control-label sr-only" for="top">Limit Results</label>
                <input class="form-control" id="top" name="top" placeholder="Show Top: 5" value="5" ng-model="query.top" type="number">
              </div>
              <!--<div id="torproj-donate" class="form-group">
                <label class="control-label sr-only" for="top">Donate % to Tor Project</label>
                <div class="input-group">
                  <input class="form-control" id="torproj" name="torproj" placeholder="25% to Tor Project" value="25" ng-model="query.torproj" type="number">
                  <span class="input-group-addon">%</span>
                </div>
              </div>-->
              <button id="inline-option-btn" class="btn btn-primary" ng-click="request()">Update</button>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#routerlisting">Where will your money go?</a>
          </h2>
        </div>
        <div id="routerlisting" class="panel-collapse collapse">
          <div class="panel-body text-center">
            <div class="row"><p class="col-md-10 col-md-offset-1">Your donation will divided among the relays listed below in the manner indicated in the <i>Donation Share</i>. This donation share is proportional to each relay's consensus weight. If the share of bitcoins to an individual relay is too small they will be redistributed to other relays.</p></div>
          <div class="relaylisting" ng-show="state == 'loading'">
            <div class="loading"><img src="static/img/loader.gif"></div>
          </div>
          <div class="relaylisting" ng-show="state == 'result_empty'">
              <p><strong>No results found</strong></p>
          </div>
          <div id="result_table" class="relaylisting table-responsive" ng-show="state == 'loaded' || state == 'sorting'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th sortable="ajax_sort" ui-jq="tooltip" sort_by="cw" invert="true" class="spinner-small" icon="static/img/ajax-loader.gif" title="The percentage share this relay will receive of your donation">
                    Donation Share
                  </th>
                  <th sortable="ajax_sort" ui-jq="tooltip" sort_by="cw" invert="true" class="spinner-small" icon="static/img/ajax-loader.gif" title="Relative bandwidth weight assigned to this relay by the directory authorities">
                    Consensus Weights
                  </th>
                  <th sortable="ajax_sort" ui-jq="tooltip" sort_by="p_guard" invert="true" icon="static/img/ajax-loader.gif" class="spinner-small" title=" Probability of this relay to be selected for the guard position">Guard Probability</th>
                  <th sortable="ajax_sort" ui-jq="tooltip" sort_by="p_exit" invert="true" icon="static/img/ajax-loader.gif" class="spinner-small" title="Probability of this relay to be selected for the exit position"> Exit Probability</th>
                  <th sortable="ajax_sort" sort_by="nick" invert="false" icon="static/img/ajax-loader.gif" class="spinner-small">Nickname</th>
                  <th sortable="ajax_sort" sort_by="fp" invert="false" icon="static/img/ajax-loader.gif" class="spinner-small">Fingerprint</th>
                  <th sortable="ajax_sort" sort_by="exit" invert="false" icon="static/img/ajax-loader.gif" class="spinner-small">Exit</th>
                  <th sortable="ajax_sort" sort_by="guard" invert="false" icon="static/img/ajax-loader.gif" class="spinner-small">Guard</th>
                  <th sortable="ajax_sort" sort_by="cc" invert="false" icon="static/img/ajax-loader.gif" class="spinner-small">Country</th>
                  <th sortable="ajax_sort" ui-jq="tooltip" sort_by="bitcoin_address" invert="false" icon="static/img/ajax-loader.gif" class="spinner-small" title="Bitcoin address retrieved from the contact or X-bitcoin field of the router descriptor">Bitcoin Address</th>
                </tr>
              </thead>
              <tfoot>
                <tr ng-show="data.excluded">
                  <td> {{ data.excluded.index }} </td>
                  <td>-</td>
                  <td>{{ data.excluded.cw | number:4 }}%</td>
                  <td>{{ data.excluded.p_guard | number:4 }}%</td>
                  <td>{{ data.excluded.p_exit | number:4 }}%</td>
                  <td colspan="2" id="extra_table_title">{{ data.excluded.nick }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr ng-show="data.total">
                  <td> {{ data.total.index }} </td>
                  <td> {{ data.total.donation_share | number:2 }}%</td>
                  <td> {{ data.total.cw | number:4 }}%</td>
                  <td>{{ data.total.p_guard | number:4 }}%</td>
                  <td>{{ data.total.p_exit | number:4 }}%</td>
                  <td colspan="2" id="extra_table_title">{{ data.total.nick }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="relay in data.results ">
                  <td> {{ relay.index }} </td>
                  <td> {{ relay.donation_share | number:2 }}%</td>
                  <td> {{ relay.cw | number:4 }}%</td>
                  <td>{{ relay.p_guard | number:4 }}%</td>
                  <td>{{ relay.p_exit | number:4 }}%</td>
                  <td>{{ relay.nick }}</td>
                  <td>
                    <span ng-show="relay.link">
                      <a href="https://atlas.torproject.org/#details/{{relay.fp}}">{{relay.fp | truncate:8:30}}</a>
                   </span>
                   <span ng-show="!relay.link">{{relay.fp | truncate:8:30}}</span>
                  </td>
                  <td><span ng-show="relay.exit" class="glyphicon glyphicon-ok"></span><span ng-show="!relay.exit">-</span></td>
                  <td><span ng-show="relay.guard"  class="glyphicon glyphicon-ok"></span><span ng-show="!relay.guard">-</span></td>
                  <td><img src="static/img/cc/{{ relay.cc }}.png" title="{{ relay.cc }}" /></td>
                  <td><span><a target="_blank" href="https://blockchain.info/address/{{ relay.bitcoin_address }}">{{ relay.bitcoin_address }}</a></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div id="paymentProcess">
      <div class="modal fade text-center" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Make your Donation Now</h4>
            </div>
            <div class="modal-body">
              <div id="payment_errors" class="fade in" style="display:none"></div>
              <div class="payment-info">
                <a class="small" href="bitcoin:{{ payment_address }}"><strong>{{payment_address}}</strong></a><br />
                <a href="bitcoin:{{ payment_address }}"><img src="qr/{{ payment_address }}" alt="Pay to {{ payment_address }}" /></a>
              </div>
              <p><small>This is a single use Bitcoin address. Please only send one transaction. There will be a transaction fee of at least <code>0.1</code> <abbr title="millibitcoin">mBTC</abbr> to forward this transaction. Any outputs less than the <abbr title="5460 satoshis">dust limit</abbr> will be discarded.</small></p>
              <button id="checktx-btn" ng-click="checktx(payment_address)" type="button" class="btn btn-info">Check for Transaction</button>
            </div>
          </div>
        </div>
      </div>

      <form class="text-center" id="donate-form">
            <button type="button" id="donate-btn" class="btn btn-primary btn-xl" ng-click="donate()">Donate now!</button>
      </form>
    </div>
  </div>

  <div class="footer" ng-controller="OnionTipCtrl">
    <div class="container text-center">
      <p class="text-muted">
        <ul class="list-inline">
          <li><a href="https://github.com/DonnchaC/oniontip">Source Code</a></li>
          <li>Last Refreshed: <strong id="last_refreshed">{{ last_refreshed }}</strong></li>
          <li>Tor code based heavily on <a href="https://compass.torproject.org/">Compass</a></li>
          <li><a href="mailto:donncha{-at -}donncha.is">Contact</a></li>
          <li>Built at the <a href="http://www.meetup.com/Bitcoin-Dublin/events/188685952/">Dublin Bitcoin Hackathon</a></li>
        </ul>
      </p>
    </div>
  </div>
  <!-- /container -->

  <script src="static/js/jquery-1.8.0.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap-tooltip.js"></script>
  <script src="static/lib/select2/select2.min.js" type="text/javascript"></script>
  <script src="static/js/angular/angular.min.js"> </script>
  <script src="static/lib/angular-ui/angular-ui.min.js"></script>
  <script src="static/js/directives.js"></script>
  <script src="static/js/filters.js"></script>
  <script src="static/js/angularize.js"></script>
  </body>
</html>